/* General body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

thead {
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #ddd;
}

/* Aumentar el tamaño de la columna de imágenes */
th.fixed-width, td.fixed-width {
  width: 25%; /* Aumenta el ancho de la columna de imágenes */
}

/* Ajuste de las imágenes */
td img {
  max-width: 100%; /* Ahora las imágenes ocupan el 100% del ancho disponible en la columna */
  height: auto;
  display: block;
  margin: auto;
  padding: 0;
}

/* Sobrescribir el estilo de las filas impares de Bootstrap */
table.table-striped tbody tr:nth-child(odd) {
  background-color: #fff !important;
}

tbody tr {
  background-color: #fff !important;
}

/* Estilo del carrusel */
.carousel-inner {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.carousel-control-prev, .carousel-control-next {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Media Queries for mobile devices */
@media (max-width: 768px) {
  body {
    padding: 0 1rem;
  }

  /* Ajustar tamaño de la tabla para pantallas pequeñas */
  table {
    font-size: 1rem;
  }

  /* Ajustar la columna de imágenes para pantallas móviles */
  th.fixed-width, td.fixed-width {
    width: 40%; /* Aumenta el tamaño de la columna de imágenes en dispositivos móviles */
  }

  td img {
    max-width: 100%; /* Las imágenes ocupan el 100% del ancho disponible en pantallas móviles */
    height: auto;
  }

  header {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .carousel-inner {
    width: 100%;
    height: 500px;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .carousel-control-prev, .carousel-control-next {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
  }
}
