/* General body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* Header styling */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

/* Estilo de los bloques de productos */
.product-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: space-between;
  align-items: flex-start;
}

.product-block img {
  object-fit: contain; /* Asegura que la imagen se ajuste al contenedor sin recortarse */
  max-width: 100%; /* La imagen no excederá el ancho del contenedor */
  max-height: 100%; /* La imagen no excederá la altura del contenedor */
  display: block; /* Evitar el comportamiento inline de las imágenes */
}

/* Carrusel */
.carousel-inner {
  width: 100%;
  height: 400px;       /* Altura fija para garantizar que todas las imágenes sean consistentes */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f5f5f5; /* Color de fondo para imágenes que no llenen el espacio */
}

.carousel-inner img {
  width: auto;          /* Mantener la proporción de la imagen */
  height: 100%;         /* Ajustar la altura al contenedor */
  object-fit: contain;  /* Asegurar que no se recorte */
  display: block;
  margin: 0 auto;
}

/* Estilos de los controles del carrusel */
.carousel-control-prev, .carousel-control-next {
  color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Estilo para filtros */
.filters {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.filters select {
  width: 100%;
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
  .product-block {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .product-details {
    padding-left: 0;
    text-align: center;
    padding-top: 1rem;
  }

  /* Ajustes para imágenes en móviles */
  .carousel-inner {
    height: 300px; /* Ajustar altura para pantallas más pequeñas */
  }

  .filters select {
    width: 100%;
  }
}
